<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/Proyecto Tears of Misery/assets/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/Proyecto Tears of Misery/assets/images/icon-logo.ico">
</head>

<body>

  <header>
    <a href="/Proyecto Tears of Misery/index.html" class="logo">
        <img src="/Proyecto Tears of Misery/assets/images/LOGO.png" alt="Tears Of Misery Logo">
    </a>
    <div class="group">
        <ul class="navigation">
            <li><a href="/Proyecto Tears of Misery/index.html">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="/Proyecto Tears of Misery/contacto.html">Contacto</a></li>
        </ul>
    </div>
</header>


    <div class="main-container">
        <div class="hr-color">
            <hr>
        </div>
        <video autoplay muted loop>
            <source src="/Proyecto Tears of Misery/assets/video/TEARS_LOGIN.mp4" type="video/mp4">
            Tu navegador no soporta la etiqueta de video.
        </video>
        <div cLass="box">
        <div class="login-form">
            <h2>¡Registrate!</h2>
        
            <form method="post">
                <div class="inputBox">
                    <input type="text" id="name" name="Nam" required minlength="4" maxlength="60" placeholder="Ingrese su nombre y apellido">
                </div>
                
                <div class="inputBox">
                    <input type="email" id="email" name="Cor" required minlength="4" maxlength="60" placeholder="Ingrese su correo electrónico">
                </div>
        
                <div class="inputBox password-container">
                    <input id="Password" type="password" name="Con" required minlength="4" maxlength="30" placeholder="Ingrese su contraseña">
                    <button type="button" class="toggle-password" onclick="togglePassword()">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
        
                <input type="submit" value="Registrarte">
        
                <div class="registration-link">
                    <h5>¿Ya tienes una cuenta?</h5>
                    <a href="login.html">¡Inicia sesion!</a>
                </div>
            </form>
        </div>
    </div>
        <script>
            function togglePassword() {
                var x = document.getElementById("Password");
                var btn = document.querySelector(".toggle-password i");
                if (x.type === "password") {
                    x.type = "text";
                    btn.className = "fas fa-eye-slash";
                } else {
                    x.type = "password";
                    btn.className = "fas fa-eye";
                }
            }
            </script>
</body>

</html>
