<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_check_product.css') }}" />
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="logo">
            <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Tears Of Misery Logo">
        </a>
        <div class="group">
            <ul class="navigation">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('productos') }}">Productos</a></li>
            </ul>
        </div>
        <div class="group2">
            <ul>
                <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('registro') }}">Registrarse</a></li>
            </ul>
        </div>
        <div class="group3">
            <ul>
                <li class="submenu">
                    <img src="{{ url_for('static', filename='images/white-shopping-cart-icon-9.jpg') }}" id="img-carrito" alt="carrito de compra">
                    <div id="carrito">
                        <table id="lista-carrito">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Acción</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="productos">
                                <!-- Contenido dinámico aquí -->
                            </tbody>
                        </table>
                        <div id="ver-mas-container">
                            <a href="#" id="toggle-productos">Ver más productos agregados</a>
                        </div>
                        <p id="total-carrito">Total: <span id="total-valor">0.00</span></p>
                        <a href="#" id="comprar-todo" class="btn-1">Comprar Todo</a>
                        <a href="#" id="vaciar-carrito" class="btn-1">Vaciar Carrito</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <hr class="hr-color">
<center>
    <div class="container-title">
        <h2>{{ producto.nombre }}</h2>
    </div>
</center>
    <main>
        {% if producto %}
            <div class="container-img">
                <img src="{{ url_for('static', filename='images/' ~ producto.imagen) }}" alt="imagen-producto" />
            </div>
            <div class="container-info-product">
                <div class="container-price">
                    <span>${{ "{:,.0f}".format(producto.precio).replace(',', 'X').replace('.', ',').replace('X', '.') }}</span>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
    
                <div class="container-details-product">
                    {% if producto.talla %}
                        <div class="form-group">
                            <label for="size">Elige la talla</label>
                            <select name="size" id="size" required>
                                <option disabled selected value="">Escoge una opción</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                        </div>
                    {% endif %}
                </div>
    
                <div class="container-add-cart" style="display: flex; justify-content: center; margin-top: 20px;">
                    <div class="product">
                        <button id="add-to-cart" class="btn-2" 
                                data-img="{{ url_for('static', filename='images/' ~ producto.imagen) }}" 
                                data-product-id="{{ producto.idProducto }}" 
                                data-name="{{ producto.nombre }}" 
                                data-price="{{ producto.precio }}"
                                data-size="{% if producto.talla %}required{% else %}optional{% endif %}">
                            Agregar al carrito
                        </button>
                    </div>
                </div>
    
                <div class="container-description">
                    <div class="title-description">
                        <h4>Descripción</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-description">
                        <p>{{ producto.descripcion }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p>El producto que estás buscando no existe.</p>
        {% endif %}
    </main>
    
    
    
    
    

    <footer class="pie-pagina">
        <hr class="hr-color">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="{{ url_for('index') }}" class="logo">
                        <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Tears Of Misery Logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Tears of Misery Death Metal Latinoamericano, Fundación año 2003 Bogotá D.C. Colombia</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/tearsofmisery" class="fa-brands fa-facebook" target="_blank"></a>
                    <a href="https://www.instagram.com/tearsof.misery/" class="fa fa-instagram" target="_blank"></a>
                    <a href="https://www.youtube.com/channel/UCjcaDSYUyl_VjlU31vPeH6Q" class="fa fa-youtube" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <hr class="hr-color-gris">
            <small>&copy; 2023 <b>Tears Of Misery</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script_pro.js') }}"></script>
</body>
</html>
