<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_check_product.css') }}" />
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="logo">
            <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Tears Of Misery Logo">
        </a>
        <div class="group">
            <ul class="navigation">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('productos') }}">Productos</a></li>
            </ul>
        </div>
        <div class="group2">
            <ul>
                <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('registro') }}">Registrarse</a></li>
            </ul>
        </div>
        <div class="group3">
            <ul>
                <li class="submenu">
                    <img src="{{ url_for('static', filename='images/white-shopping-cart-icon-9.jpg') }}" id="img-carrito" alt="carrito de compra">
                    <div id="carrito">
                        <table id="lista-carrito">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Acción</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="productos">
                            </tbody>
                        </table>
                        <div id="ver-mas-container">
                            <a href="#" id="toggle-productos">Ver más productos agregados</a>
                        </div>
                        <p id="total-carrito">Total: <span id="total-valor">0.00</span></p>
                        <a href="#" id="comprar-todo" class="btn-1">Comprar Todo</a>
                        <a href="#" id="vaciar-carrito" class="btn-1">Vaciar Carrito</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <hr class="hr-color">

    <div class="container-title"><h2>CD roses's impalement</h2></div>

    <main>
        <div class="container-img">
            <img src="{{ url_for('static', filename='images/productos/discos/cd2.jpg') }}" alt="imagen-producto" />
        </div>
        <div class="container-info-product">
            <div class="container-price">
                <span>$25.000</span>
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" class="input-quantity" />
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <div class="product">
                    <button id="add-to-cart" class="btn-2" data-img="{{ url_for('static', filename='images/productos/discos/cd2.jpg') }}" data-product="5" data-name="CD Rose's impalement" data-price="25.000" disabled>Agregar al Carrito</button>
                </div>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                    <p>
                        "Roses's Impalement" es una obra maestra de Tears of Misery que encapsula la intensidad y la pasión de la banda. Este álbum te lleva a un viaje sonoro inolvidable, lleno de riffs poderosos y líricas profundas. No te pierdas la oportunidad de poseer esta edición especial que refleja la verdadera esencia del metal. ¡Hazlo tuyo y déjate envolver por la oscuridad melódica de Tears of Misery!
                    </p>
                </div>
            </div>

            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Materiales</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-additional-information hidden">
                    <h4>Materiales de alta calidad</h4>
                    <p>Este CD está fabricado con materiales de alta calidad, incluyendo una estructura duradera y un acabado cuidadosamente diseñado para preservar su contenido.</p>
                </div>
            </div>

            <div class="container-reviews">
                <div class="title-reviews">
                    <h4>Guía de cuidado</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p>CD "Roses's Impalement" - Una pieza icónica que captura la esencia de Tears of Misery. Mantén este CD en un lugar seco y fresco, y límpialo con un paño suave para preservar su calidad de sonido y presentación.</p>
                </div>
            </div>

            <div class="container-social">
                <span><strong>Nuestras redes </strong></span>
                <div class="container-buttons-social">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </main>

    <footer class="pie-pagina">
        <hr class="hr-color">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="{{ url_for('index') }}" class="logo">
                        <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Tears Of Misery Logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Tears of Misery Death Metal Latinoamericano, Fundación año 2003 Bogotá D.C. Colombia</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/tearsofmisery" class="fa-brands fa-facebook" target="_blank"></a>
                    <a href="https://www.instagram.com/tearsof.misery/" class="fa fa-instagram" target="_blank"></a>
                    <a href="https://www.youtube.com/channel/UCjcaDSYUyl_VjlU31vPeH6Q" class="fa fa-youtube" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <hr class="hr-color-gris">
            <small>&copy; 2023 <b>Tears Of Misery</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='check_script.js') }}"></script>
    <script src="{{ url_for('static', filename='index_script_pro.js') }}"></script>
</body>
</html>
